<li class="link{% for tag in raindrop.tags %} {{tag|slugify}}{% endfor%}">
    {% assign img = faviconDict[raindrop._id] %}
    {% if img %}
    <img class="favicon" src="/_assets/{{img}}" />
    {% endif %}
    <a href="{{raindrop.link}}">
        <h3 class="title">{{raindrop.title}}</h3>
        {% if raindrop.excerpt %}
        <p class="description">
            {{raindrop.excerpt}}
        </p>
        {% endif %}
    </a>
    {% if raindrop.note %}
    <blockquote class="note">
        {{raindrop.note}}
    </blockquote>
    {% endif %}
    <ul class="tags">
        {% for tag in raindrop.tags %}
        <li>
            {% render "taglabel.liquid", tag: tag %}

        </li>    
        {% endfor %}
    </ul>
</li>
