<li class="link">
    {% assign img = faviconDict[raindrop._id] %}
    {% if img %}
    <img class="favicon" src="assets/{{img}}" />
    {% endif %}
    <a href="{{raindrop.link}}">
        <h3 class="title">{{raindrop.title}}</h3>
        {% if raindrop.excerpt %}
        <p class="description">
            {{raindrop.excerpt}}
        </p>
        {% endif %}
    </a>
    {% if raindrop.note %}
    <blockquote class="note">
        {{raindrop.note}}
    </blockquote>
    {% endif %}
</li>
