{% assign titleId = "title-" | concat: id %}
<nav id="{{id}}" class="links" aria-labelledby="{{titleId}}">
    <a href="#{{id}}">
        <h2 id="{{titleId}}">{{id}}</h2>
    </a>
    <ul>
    {% for raindrop in raindrops %}
        {%- render "link.liquid", raindrop: raindrop, faviconDict: faviconDict -%}
    {% endfor %}
    </ul>
</nav>