{% assign tag = id | slugify %}
{% assign titleId = "title-" | concat: tag %}
<nav id="{{tag}}" class="links" aria-labelledby="{{titleId}}">
    <a href="#{{tag}}">
        <h2 id="{{titleId}}">{{id}}</h2>
    </a>
    <ul>
    {% for raindrop in raindrops %}
        {%- render "link.liquid", raindrop: raindrop, faviconDict: faviconDict -%}
    {% endfor %}
    </ul>
</nav>