---
pagination:
    data: pages
    alias: page
    size: 1
eleventyComputed:
    permalink: "{{page.pageName}}/index.html"
---
<!DOCTYPE html>
<html lang="en">
{% assign raindrops = page.raindrops %}
{% assign title = env.RWP_TITLE | default: "Raindrop.io Webportal" %}
{% assign description = env.RWP_DESCRIPTION | default: "A webportal generated from a Raindrop.io collection" %}
{% assign webportalUrl = env.RWP_BASE_URL %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{title}}</title>
    <meta name="og:title" content="{{title}}">
    <meta name="description" content="{{description}}">
    <meta name="og:description" content="{{description}}">
    <meta name="og:type" content="website">
    <meta name="og:url" content="{{webportalUrl}}">
    <meta name="og:site_name" content="{{title}}">
    <!--og:image-->
    <link rel="canonical" href="{{webportalUrl}}">
    
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body class="no-js">
    <header>
        <a class="sr-only skip-link" href="#main">Skip to main content</a>
        <h1>{{title}}</h1>

        {% if pages.length > 1 %}
        {% assign siteNavId = "site-navigation" %}
        <nav id="{{siteNavId}}" aria-labelledby="{{siteNavId}}-title">
            <h2 id="{{siteNavId}}-title" class="sr-only">Site navigation</h2>
            <ul>
                {% for page in pages %}
                <li>
                    <a href="/{{page.pageName}}">{{page.pageName | default: "home" | capitalize}}</a>
                </li>
                {% endfor %}
            </ul>
            <hr>
        </nav>
        {% endif %}

        <ul id="tags" class="tags">
            {% for tag in page.tags %}
            <li>
                <input id="tag-{{tag | slugify}}" type="checkbox"/>
                {% render "taglabel.liquid", tag: tag %}
            </li>
            {% endfor %}
        </ul>
    </header>
    <main id="main">
        {% for tag in page.tags %}
            {% render "links.liquid",
               id: tag,
               raindrops: page.raindropsByTags[tag],
               faviconDict: faviconDict
           %}
        {% endfor %}
        {% render "links.liquid", 
           id: "Everything",
           raindrops: page.raindrops,
           faviconDict: faviconDict
        %}
    </main>
    <footer>
        <a href="https://github.com/Denperidge/raindrop-webportal">Source code</a>
    </footer>
    <script src="/_assets/index.js"></script>
</body>
</html>